---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "ZeroPoint-demo_demo",
  "short_name": "ZeroPoint-demo_demo",
  "display": "standalone",
  "start_url": "/"
}
